.re-Label {
	background-color: $c-grey-dark;
	font-size: $caption;
	font-weight: 400;
	padding: 2px 4px;
	text-transform: uppercase;
	color: $c-white;
	text-align: center;

	&--accent {
		font-weight: 600;
		padding: 8px;
	}

	&--oportunity {
		background-color: $c-accent;
	}

	&--new-build {
		background-color: $c-black;
	}

	&--recomended {
		background-color: $c-violet;
	}
}